<h1>CREATE A NEW ARTICLE</h1>

<%= form_for @article do |f| %>

<p style="text-align: justify">
  <%= f.label :title %><br/>
  <%= f.text_field :title %>
</p>
<p style="text-align: justify">
  <%= f.label :description %><br/>
  <%= f.text_area :description %>
</p>
<p style="text-align: justify">
  <%= f.submit %>
</p>

<% end %>